<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="module" src="/javascripts/cornerstone-core/dist/cornerstone.min.js"></script>
    <script type="module" src="/javascripts/cornerstone-math/dist/cornerstoneMath.min.js"></script>
    <script type="module" src="/javascripts/cornerstone-tools/dist/cornerstoneTools.min.js"> </script>
    <!-- <script type="module" src="../../node_modules/hammerjs/hammer.js"></script> -->
    <script type="module" src="/javascripts/dicom-parser/dist/dicomParser.js"></script>
    <script type="module" src="/javascripts/cornerstone-wado-image-loader/dist/cornerstoneWADOImageLoader.js"></script>
  </head>
  <body>
    <div class="container justify-content-center">
      <div class="row justify-content-center">
        <div id="dicomImage" style="width:512px;height:512px" oncontextmenu="return false" onmousedown="return false">
              
        </div>
      </div>
      <div class="row justify-content-center">
        <input type="text" class="text" id="Study" placeholder="Study">
        <input type="text" class="text" id="series" placeholder="Series">       
        <input type="text" class="text" id="IMGNUM" placeholder="第幾份影像">       
        <button class="btn btn-success" onclick="Query()">查詢</button>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
<script>
  window.onload=()=>{
    cornerstoneTools.external.cornerstone = cornerstone;
    cornerstoneWADOImageLoader.external.cornerstone = cornerstone;
    var config = {
        maxWebWorkers: navigator.hardwareConcurrency || 1,
        startWebWorkersOnDemand : true,
        taskConfiguration:{
          'decodeTask':{
            initializeCodecsOnStartup:true,
            usePDFJS:true
          }
        }
    };
    cornerstoneWADOImageLoader.webWorkerManager.initialize(config);
  }
  function Query(){
    let StudyID = document.getElementById("Study").value;
    let series = document.getElementById("series").value;
    let num = document.getElementById("IMGNUM").value;
   
    let url = `http://127.0.0.1:3000/images?Study=${StudyID}&series=${series}&num=${num}`;
    
    multiFrameImages(url);
  }
  let loaded = false;
  function multiFrameImages(url){
    let element = document.getElementById("dicomImage");
    cornerstoneWADOImageLoader.wadouri.dataSetCacheManager.load(url,cornerstoneWADOImageLoader.internal.xhrRequest).then((dataSet)=>{
        let numFrames = dataSet.intString('x00280008');
        if(!numFrames)numFrames=1;
        if(!numFrames) {
            alert('Missing element NumberOfFrames (0028,0008)');
            return;
        }
        var imageIds = [];
        var imageIdRoot = 'wadouri:' + url;
        for(var i=0; i < numFrames; i++) {
            var imageId = imageIdRoot + "?frame="+i;
            imageIds.push(imageId);
        }
        var stack = {
            currentImageIdIndex : 0,
            imageIds: imageIds
        };
        cornerstone.loadAndCacheImage(imageIds[0]).then((image)=>{
          console.log(image);
          cornerstoneWADOImageLoader.wadouri.dataSetCacheManager.unload(url);
          cornerstone.enable(element);
          cornerstone.displayImage(element, image);
          if(loaded === false) {
              cornerstoneTools.init();

              let WwwcTool = cornerstoneTools.WwwcTool;
              let StackScrollTool = cornerstoneTools.StackScrollTool;
              let playClip = cornerstoneTools.playClip;
              cornerstoneTools.addTool(WwwcTool);
              cornerstoneTools.addTool(StackScrollTool);
              cornerstoneTools.addTool(playClip);
              cornerstoneTools.setToolActive('Wwwc', { mouseButtonMask: 1 });
              cornerstoneTools.setToolActive('StackScrollTool', { mouseButtonMask: 2 });
              cornerstoneTools.setToolActive('playClip', { mouseButtonMask: 2 });
              cornerstoneTools.addStackStateManager(element, ['stack'])
              cornerstoneTools.addToolState(element, 'stack', stack)
              cornerstoneTools.addStackStateManager(element, ['stack', 'playClip']);
              cornerstoneTools.addToolState(element, 'stack', stack);
              var frameRate = 10;
              cornerstoneTools.playClip(element, frameRate);
              loaded = true;
          }
        });
    });
  }
</script>
